#score {
    position: absolute;
    font-size: 64px;
    left: 5vw;
    top: 5vh;
    text-align: center;
    width: 0;
    transform: translate3d(0, 0, 0);
    transition: 1.5s;
    text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white;
}

#score.center {
    left: 0;
    width: 100%;
    top: 50vh;
    color: white;
    transform: translate3d(0, -50%, 0);
}