@keyframes float {
    0%,
    100% {
        transform: translate3d(0, 0, 0)
    }
    50% {
        transform: translate3d(0, .4%, 0)
    }
}

@keyframes grays {
    0%,
    100% {
        // transform: scale3d(1, 1, 1)
        // transform: translate3d(0, 0, 0)
        filter: grayscale(0)
    }
    50% {
        // transform: scale3d(1.02, 1.02, 1)
        // transform: translate3d(0, -.5%, 0)
        filter: grayscale(.4)
    }
}

.score {
    position: absolute;
    font-size: 64px;
    left: 5%;
    top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* transform: translate3d(0, 0, 0); */
    /* text-shadow: 1px 1px 0 white, -1px 1px 0 white, 1px -1px 0 white, -1px -1px 0 white; */
    span {
      margin-bottom: 15%;
    }
}

.full-screen {
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.shade {
    @extend .full-screen;
    position: absolute;
    background: black;
    transition: 1.5s;
    /* transform: translate3d(0, -50%, 0); */
}

#restart,
.shade {
    z-index: -1;
    opacity: 0;
}

.button {
    position: absolute;
    font-size: 32px;
    border: 1px solid currentColor;
    padding: 20px 25px;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 0 0 black;
}

#restart {
    left: 50%;
    bottom: 12%;
    transform: translate3d(-50%, -50%, 0);
    color: transparent;
    text-align: center;
}

#trigger {
    bottom: 5%;
    right: 5%;
    color: black;

    box-shadow: -4px 5px 0 0 black;

    transform: translate3d(0, 0, 0);
    transition: .2s;
    &.down {
        transform: translate3d(0, 3%, 0);
        box-shadow: -2px 2.5px 0 0 black;
    }
}

.energy {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    
    filter: brightness(1.6);
    opacity: 0.5;
}

.text {
    padding-right: 0;
    width: 0;
    overflow: hidden;
    display: inline-block;
}

.light {
    .score {
        color: white;
    }
}

.gameover {
    #restart,
    .shade {
        z-index: auto;
        opacity: 1;
    }
    #restart {
        color: black;
        box-shadow: -8px 10px 0 0 black;
        transition: box-shadow .2s, bottom .2s;
        &:hover {
            bottom: 11.5%;
            box-shadow: -2px 2.5px 0 0 black;
        }
    }
    .score {
        @extend .full-screen;
        justify-content: center;
        font-size: 4rem;
        animation: float 5s ease-in-out infinite;
        transition: font-size 1.5s;
    }
    .text {
        padding-right: .5em;
        width: auto;
    }
    canvas {
        animation: grays 5s ease-in-out infinite;
    }
    .shade {
        opacity: .5;
    }
}